html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ecf0f1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  text-decoration: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

header {
  background-color: #2c3e50;
}

nav {
  max-width: 1200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 30px;
  font-size: 1.5rem;
  color: #fff;
  font-family: 700;
  display: inline;
}

.menu > li, .menu > a {
  display: inline-block;
}

.menu li {
  position: relative;
}

.menu a {
  color: #fff;
  display: block;
  padding: 10px 1.5rem;
  font-weight: 700;
  transition: background-color 0.22s ease, color 0.22s ease;
}

.menu a:hover {
  text-shadow: 0 0 25px rgb(0, 0, 0);
  background-color: #f34949;
  color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  width: 140px;
  left: 0;
}

.submenu2 {
  display: none;
  position: absolute;
  top: 0;
  text-align: center;
  left: 100%;
  width: 200px;
  background-color: #2c3e50;
}

.submenu3 {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 140px;
  background-color: #2c3e50;
}

.menu li:hover > .submenu {
  display: block;
  -webkit-animation: slideup 0.3s ease;
          animation: slideup 0.3s ease;
}

.submenu li:hover > .submenu2 {
  display: block;
  -webkit-animation: slideleft 0.3s ease;
          animation: slideleft 0.3s ease;
}

.submenu2 li:hover > .submenu3 {
  display: block;
  -webkit-animation: slideleft 0.3s ease;
          animation: slideleft 0.3s ease;
}

@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.transform {
  width: 50%;
  margin: 0 auto;
}
.transform h2 {
  text-align: center;
}
.transform__origin {
  background-color: rgba(255, 0, 0, 0.3);
  width: 400px;
  height: 200px;
  border: 2px solid black;
  margin-bottom: 150px;
}
.transform__translate {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: translate(50px, 20px);
}
.transform__rotate {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: rotate(15deg);
}
.transform__rotateX {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: rotateX(60deg);
}
.transform__rotateY {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: rotateY(75deg);
}
.transform__rotateZ {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: rotateZ(-5deg);
}
.transform__scale {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: scale(0.75, 0.75);
}
.transform__scaleX {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: scaleX(0.7);
}
.transform__scaleY {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: scaleY(0.7);
}
.transform__skew {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: skew(20deg, 15deg);
}
.transform__skewX {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: skewX(20deg);
}
.transform__skewY {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: skewY(15deg);
}
.transform__matrix {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: matrix(1, -0.3, 0, 1, 0, 0);
  word-break: break-all;
}
.transform__multiple-transformation {
  width: 400px;
  height: 200px;
  background-color: rgb(84, 83, 83);
  color: white;
  border: 2px solid black;
  padding: 15px;
  transform: translate(50px, 70px) rotate(45deg) scale(1.2, 1.2);
}

.transition {
  width: 50%;
  margin: 0 auto;
}
.transition div {
  margin-bottom: 20px;
}
.transition__width {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 2s;
}
.transition__width:hover {
  width: 300px;
}
.transition__width-height {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 2s, height 3s, background-color 4s;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(71, 71, 71);
}
.transition__width-height:hover {
  width: 300px;
  height: 200px;
  background-color: blue;
  overflow: visible;
}
.transition__ease {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 5s;
  transition-timing-function: ease;
}
.transition__ease:hover {
  width: 300px;
}
.transition__linear {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 5s;
  transition-timing-function: linear;
}
.transition__linear:hover {
  width: 300px;
}
.transition__ease-in {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 5s;
  transition-timing-function: ease-in;
}
.transition__ease-in:hover {
  width: 300px;
}
.transition__ease-out {
  transition: width 5s;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition-timing-function: ease-out;
}
.transition__ease-out:hover {
  width: 300px;
}
.transition__ease-in-out {
  transition: width 5s;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition-timing-function: ease-in-out;
}
.transition__ease-in-out:hover {
  width: 300px;
}
.transition__cubic-bezier {
  transition: width 5s;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.transition__cubic-bezier:hover {
  width: 300px;
}
.transition__delay {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 3s;
  transition-delay: 1s;
}
.transition__delay:hover {
  width: 300px;
}
.transition__transformation {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: transform 2.5s;
  border-top: 3px solid black;
}
.transition__transformation:hover {
  transform: rotate(360deg) translate(200px, 0);
}
.transition__individual {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}
.transition__individual:hover {
  width: 300px;
}
.transition__shorthand {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  transition: width 2s ease-out 1s;
}
.transition__shorthand:hover {
  width: 300px;
}

span.property {
  color: rgb(198, 34, 94);
  background-color: rgb(196, 196, 196);
  padding: 3px 1rem;
  border-radius: 5px;
  list-style-type: lower-roman;
}

li > span.property {
  margin-left: 50px;
}

code pre {
  color: rgb(194, 194, 194);
}/*# sourceMappingURL=style.css.map */