@mixin animationStyle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

@keyframes bc-change {
    from { background-color: red }
    to { background-color: blue }
}

@keyframes multiple-color {
    0% { background-color: red}
    25% { background-color: green}
    50% { background-color: blue}
    75% { background-color: yellow}
    100% { background-color: purple}
}

@keyframes multi-property {
    0% { background-color: red; left: 0; top: 0;}
    25% { background-color: green; left: 400px; top: 0;}
    50% { background-color: blue;left: 400px; top: 400px;}
    75% { background-color: yellow; left: 0; top: 400px;}
    100% { background-color: purple; left: 0; top: 0;}
}

@keyframes timing-function {
    0% { background-color: red; left:0; top: 0;}
    50% { background-color: blue; left:400px; top: 0;}
    100% { background-color: green; left:0px; top: 0;}
}

[class*="tf-"] {
    margin-bottom: 10px;
}


.animation {

    &__background-color {
        @include animationStyle;
        animation-name: bc-change;
        animation-duration: 5s;
    }

    &__multiple-frame {
        @include animationStyle;
        animation-name: multiple-color;
        animation-duration: 10s;
    }

    &__box { height: 550px}

    &__multiple-property {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
    }

    &__delay {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        animation-delay: 2s;
        position: relative;
    }

    &__negative-delay {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        animation-delay: -2s;
        position: relative;
    }

    &__iteration-count {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: 3;
    }

    &__infinite {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: infinite;
    }

    &__direction-normal {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    &__direction-reverse {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    &__direction-alternate {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &__direction-alternate-reverse {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: multi-property;
        position: relative;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    &__tf-ease {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    &__tf-linear {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &__tf-ease-in {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    &__tf-ease-out {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    &__tf-ease-in-out {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    &__tf-cubic-bezier {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    }

    &__fill-mode-none {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-fill-mode: none;
    }

    &__fill-mode-forwards {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-fill-mode: forwards;
    }

    &__fill-mode-backwards {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-fill-mode: backwards;
    }

    &__fill-mode-both {
        @include animationStyle;
        animation-duration: 10s;
        animation-name: timing-function;
        position: relative;
        animation-fill-mode: both;
    }

    &__order {
        @include animationStyle;
        position: relative;
        animation-name: timing-function;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 3;
        animation-direction: alternate-reverse;
    }

    &__shorthand {
        @include animationStyle;
        position: relative;
        animation: timing-function 4s ease-in 2s infinite reverse;
    }
}