@mixin transitionStyle {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}

.transition {
    width: 50%;
    margin: 0 auto;

    div {
        margin-bottom: 20px;
    }

    &__width {
        @include transitionStyle;
        transition: width 2s;
    }

    &__width:hover {
        width: 300px;
    }

    &__width-height {
        @include transitionStyle;
        transition: width 2s, height 3s, background-color 4s;
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
        color: rgb(71, 71, 71);
    }

    &__width-height:hover {
        width: 300px;
        height: 200px;
        background-color: blue;
        overflow: visible;
    }

    &__ease {
        @include transitionStyle;
        transition: width 5s;
        transition-timing-function: ease;
    }

    &__ease:hover {
        width: 300px;
    }

    &__linear {
        @include transitionStyle;
        transition: width 5s;
        transition-timing-function: linear;
    }
    
    &__linear:hover {
        width: 300px;
    }

    &__ease-in {
        @include transitionStyle;
        transition: width 5s;
        transition-timing-function: ease-in;
    }

    &__ease-in:hover {
        width: 300px;
    }

    &__ease-out {
        transition: width 5s;
        @include transitionStyle;
        transition-timing-function: ease-out;
    }

    &__ease-out:hover {
        width: 300px;
    }

    &__ease-in-out {
        transition: width 5s;
        @include transitionStyle;
        transition-timing-function: ease-in-out;
    }

    &__ease-in-out:hover {
        width: 300px;
    }

    &__cubic-bezier {
        transition: width 5s;
        @include transitionStyle;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &__cubic-bezier:hover {
        width: 300px;
    }

    &__delay {
        @include transitionStyle;
        transition: width 3s;
        transition-delay: 1s;
    }

    &__delay:hover {
        width: 300px;
    }

    &__transformation {
        @include transitionStyle;
        transition: transform 2.5s;
        border-top: 3px solid black;
    }

    &__transformation:hover {
        transform: rotateY(360deg) translate(200px, 0);
    }

    &__individual {
        @include transitionStyle;
        transition-property: width;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
        transition-delay: 1s;
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
    }

    &__individual:hover {
        width: 300px;
    }

    &__shorthand {
        @include transitionStyle;
        transition: width 2s ease-out 1s;
    }

    &__shorthand:hover {
        width: 300px;
    }
}