@mixin transformStyle {
    width: 400px;
    height: 200px;
    background-color: rgb(84, 83, 83);
    color: white;
    border: 2px solid black;
    padding: 15px;
}

.transform {
    width: 50%;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    &__origin {
        background-color: rgba(255, 0, 0, .3);
        width: 400px;
        height: 200px;
        border: 2px solid black;
        margin-bottom: 150px;
    }

    &__translate {
        @include transformStyle;
        transform: translate(50px, 20px)
    }

    &__rotate {
        @include transformStyle;
        transform: rotate(15deg)
    }

    &__rotateX {
        @include transformStyle;
        transform: rotateX(60deg);
    }

    &__rotateY {
        @include transformStyle;
        transform: rotateY(75deg);
    }

    &__rotateZ {
        @include transformStyle;
        transform: rotateZ(-5deg);
    }

    &__scale {
        @include transformStyle;
        transform: scale(.75, .75);
    }

    &__scaleX {
        @include transformStyle;
        transform: scaleX(.7);
    }

    &__scaleY {
        @include transformStyle;
        transform: scaleY(.7);
    }

    &__skew {
        @include transformStyle;
        transform: skew(20deg, 15deg)
    }

    &__skewX {
        @include transformStyle;
        transform: skewX(20deg)
    }

    &__skewY {
        @include transformStyle;
        transform: skewY(15deg)
    }

    &__matrix {
        @include transformStyle;
    }
}